.form-home{
  width:80%;
  margin: 0 auto;
  label, input {
    display: inline-block;
    padding: 3px 3px;


  }
  input + input {
    float: right;
  }
}
  label {
    width: 30%;
    text-align: right;
  }

  label + input {
    width: 30%;
    margin: 0 30% 0 4%;
  }

  .navbar {
    margin-left: 2%;
    margin-right: 1%;
  }